{% extends "base.html" %}


{% block body %}


\

<section class="teachers">

   <h1 class="heading">Teachers</h1>

   <form action="" method="post" class="search-tutor">
      <input type="text" name="search_box" placeholder="search tutors..." required maxlength="100">
      <button type="submit" class="fas fa-search" name="search_tutor"></button>
   </form>

   <div class="box-container">

      <div class="box offer">
         
      </div>

      <div class="box">
         
      </div>

      <div class="box">
         
      </div>


   </div>

</section>


{% endblock body %}