{% extends "base.html" %}

{% block body %}


<section class="form-container">

   <form action="" method="post" enctype="multipart/form-data">
      <h3>Update Profile</h3>
      <p>Update Name</p>
      <input type="text" name="name" placeholder="Enter your Name" maxlength="50" class="box">
      <p>Update E-mail</p>
      <input type="email" name="email" placeholder="Enter your E-mail" maxlength="50" class="box">
      <p>Previous Password</p>
      <input type="password" name="old_pass" placeholder="Enter your old password" maxlength="20" class="box">
      <p>New Password</p>
      <input type="password" name="new_pass" placeholder="Enter your new password" maxlength="20" class="box">
      <p>Confirm Password</p>
      <input type="password" name="c_pass" placeholder="Confirm your new password" maxlength="20" class="box">
      <p>Update Profile Pic</p>
      <input type="file" accept="image/*" class="box">
      <input type="submit" value="update profile" name="submit" class="btn">
   </form>

</section>


{% endblock body %}